$white: #fff;
$main: #2a1c35;
$orange: #e17062;
$red: #d8402b;


%montserrat-400{
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}

%montserrat-500{
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}

%montserrat-600{
  font-family: 'Montserrat-SemiBold', sans-serif;
  font-weight: 600;
}

%montserrat-700{
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
